.header {
  padding: 10px 0;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9999;

  &__container {
    @include flex-all-sa;
  }

  &__nav {
    //
  }

  &--main {
    background-color: var(--color-light);
    border-bottom: 1px solid #bec1e2;
  }

  .burger-menu {
    display: none;
  }

  @media (max-width: 792px) {
    &__container {
      display: none;
    }

    .burger-menu {
      display: block;
    }

    .menu-btn{
      display: flex;
      align-items: end;
      margin-right: 30px;
      position: absolute;
      top: 6px;
      right:0;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu-btn > span::before {
      content: '';
      top: -8px;
    }
    .menu-btn > span::after {
      content: '';
      top: 8px;
    }

    .menubox{
      display: block;
      position: fixed;
      text-align: center;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      transition-duration: .5s;
    }

    .header-contacts__link, .header-auth__link {
      display: flex;
      align-items: center;
      padding-bottom: 3px;
    }

    .menu-item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .4s;
    }
    .menu-item:hover {
      background-color: #CFD8DC;
    }

    .menubox > li:hover {
      font-size: 14px;
    }

    #menu-toggle{
      opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span{
      transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
      top: 0;
      transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
      top: 0;
      transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menubox{
      visibility: visible;
      left: 0;
    }
  }
}